* {
  box-sizing: border-box;
}


html {
font-family: sans-serif;
}


body {
margin: 0;
background: #ccc;
}

article {
  position: relative;
  height: 978px;
  width: 755px;
  margin: 20px auto;
}

address {
position: absolute;
bottom: 132px;
right: 75px;
}

h1 {
  position: absolute;
  top: 45px;
  left: 75px;
  width: 128px;
  height: 128px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  padding: 35px 0;
  color: white;
  text-shadow: 3px 3px 3px black;
  background: url(images/logo.png) no-repeat 0 0;
  filter: drop-shadow (3px,3px,3px black);
  background-clip: border-box;
  border-radius: 64px;
  box-shadow: 3px 3px 3px black;
}

/*background images, border */

article {
  background: url("top-image.png") top no-repeat;
  background: url("top-image.png") top no-repeat,
  url("bottom-image.png") bottom center no-repeat,
    linear-gradient(to top, transparent, white 80%, gray ),
    linear-gradient(transparent, white 80% , gray );
  border-color: white;
  background-color: white;
  border-top: 1px solid red;

}

h1 {
background: url("logo.png");
border-radius: 100%;
box-shadow: 4px 4px 4px black;
}
